<section id="packages">
    <div class="container">

        <div class="row" ng-repeat="row in rows track by $index">
            <div class="col-md-2 packageList" ng-repeat="pkg in row track by $index">
                <div class="thumbnail">
                    <a ng-href="#/package/{{pkg.name}}/version/latest"><img ng-src="{{pkg.images['icon-medium']}}" onError="this.onerror=null;this.src='https://placehold.it/96x96&text=Image%20missing';" /></a>
                    <div class="caption list-middle">
                        <a ng-href="#/package/{{pkg.name}}/version/latest"><h3 class="list-header">{{pkg.name}}</h3></a>
                        <a ng-href="#/package/{{pkg.name}}/version/latest"><button type="button" class="btn btn-info" style="width: 120px">Details</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>